._card1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 16px rgb(0 0 0 / 25%);

  .left {
    position: relative;
    width: 45%;
    overflow: hidden;

    .rating {
      display: flex;
      align-items: center;
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 14px;
      color: $primaryOrange;
      background-color: $background100;
      border-radius: 10px;
      padding: 1px 5px;
      font-weight: 500;

      .rating-value {
        color: $primaryColor;
        font-size: 12px;
      }
    }

    .image {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 55%;

    .name {
      font-weight: 500;
      margin-top: 0;
      font-size: 18px;
    }

    .location {
      color: $mediumText;
      font-size: 0.9em;
      margin-top: 5px;
    }

    .compartment {
      display: flex;

      span {
        display: flex;
        align-items: center;
        margin-top: 5px;
      }

      .text {
        font-weight: 500;
        font-size: 14px;
        margin: 0 5px;
        line-height: 1;
      }
    }

    .footer {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 10px;

      .cost {
        color: $primaryColor;
        font-weight: 500;
        font-size: 22px;
      }

      .duration {
        font-weight: 400;
        font-size: 14px;
        color: $mediumText;
      }

      .favorite {
        position: absolute;
        top: 3px;
        right: 0;
        color: $primaryColor;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 900px) {
  ._card1 {
    flex-direction: column;
    height: 350px;
    max-width: 320px;

    .left {
      width: 100%;

      .image {
        //   object-fit: cover;
        height: 170px;
        //   width: 100%;
      }
    }

    .right {
      width: calc(100% - 2em);
    }
  }
}

._card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 340px;
  overflow: hidden;
  border-radius: 30px;
  color: $white;
  // box-shadow: 0 5px 16px rgb(0 0 0 / 25%);

  .rating {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    color: $primaryOrange;
    background-color: $background100;
    border-radius: 10px;
    padding: 1px 5px;
    font-weight: 500;

    .rating-value {
      color: $primaryColor;
      font-size: 12px;
    }
  }

  .favorite {
    position: absolute;
    top: 10px;
      right: 20px;
    font-size: 30px;
    cursor: pointer;

    .heart {
      color: $primaryOrange;
    }
  }

  &:hover {
    .content {
      background-color: $primaryColor;
    }
  }

  .content {
    position: absolute;
    width: calc(100% - 32px) !important;
    padding: 1em;
    width: 55%;
    bottom: 0;
    background-color: #00000099;

    .name {
      font-weight: 500;
      margin-top: 0;
      font-size: 18px;
    }

    .location {
      font-size: 0.9em;
      margin-top: 5px;
      font-weight: 300;
    }

    .footer {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 10px;

      .cost {
        font-weight: 500;
        font-size: 22px;
      }

      .duration {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
