/* STYLING SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar:hover {
  height: 12px;
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent
    /* #f1f1f1 */
  ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

@media screen and (max-width: 600px) {

  /* width */
  ::-webkit-scrollbar {
    height: 3px;
    width: 3px;
  }

  ::-webkit-scrollbar:hover {
    height: initial;
    width: initial;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa;
  }

}