.section-title {
margin-bottom: 30px;

  .title {
    color: $primaryText;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin: 0;
  }

  .sub-title {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .section-title {
    .title {
      font-size: 25px;
    }
  }
}
