@import "../../scss/config";

.home-landing {
  background: url("../../assets/images/landing-image.jpg");
  background-size: cover;
  background-position: center;

  .nav-bar {
    background-color: $primaryOverlay;
    display: flex;
    align-items: center;
    padding: 0.8em 3em;
    border-bottom: 1px solid #b6cdfd55;

    .close-button,
    .open-button {
      display: none;
    }

    .logo {
      font-size: 2.5em;
      color: $white;
      text-decoration: none;
      font-weight: 800;
    }

    .right {
      display: flex;
      justify-content: space-between;
      margin-left: 1em;

      .auths {
        position: absolute;
        right: 0;
        margin-right: 3em;
        .auth {
          padding: 8px 16px;
          margin-left: 20px;
          &:hover {
            text-decoration: none;
          }
        }
      }

      ul {
        margin: 0;
        padding: 0;

        a {
          display: inline-block;
          // align-items: center;
          color: $white;
          text-decoration: none;
          font-weight: 500;
          border-radius: 5px;
          font-size: 17px;
          padding: 8px 12px;

          &:hover {
            text-decoration: underline;
          }

          li {
            list-style: none;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .content {
    background-color:  #00000099; // $primaryOverlay;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    color: $white;

    .tag-line-1 {
      font-size: 4em;
      z-index: 1234;
      font-weight: 800;
      margin: 0;
      text-align: center;
    }
    .tag-line-2 {
      font-size: 24px;
      margin: 0;
      text-align: center;
    }

    .home-search {
      display: flex;
      margin-top: 20px;
      background-color: $white;
      border-radius: 5px;
      width: calc(100% - 300px);
      max-width: 900px;
      padding: 10px;

      .input-group {
        position: relative;
        display: flex;
        align-items: center;
        width: calc(100% / 3);

        .categoryOptions {
          position: absolute !important;
          top: 50px;
          left: 0;
          max-width: unset;
          width: 100%;
        }

        .showCategory {
          display: block;
        }

        .icon {
          color: $mediumText;
          font-size: 24px;
          margin-right: 5px;
        }

        .input-field {
          border: none;
          font-size: 18px;
          color: $mediumText;
          font-family: "Jost", sans-serif;
          width: calc(100% - 20px);
          &:hover,
          &:focus {
            outline: none;
          }
        }
      }

      .action-button {
        display: flex;

        .button {
          width: 100%;
        }
      }
    }
  }
}

.our-recommendation {
  padding-top: 70px;

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.featured {
  background-color: $background200;
  padding: 70px 0;

  .featured-item {
    // display: flex;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@media (max-width: 1000px) {
  .home-landing {
    .nav-bar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      .open-button {
        display: inline-block;
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 35px;
        color: $white;
      }

      .right {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-top: 60px;
        background-color: $white;
        position: fixed;
        top: 0;
        left: -320px;
        height: 100vh;
        width: 300px;
        z-index: 1235;
        transition: 0.5s;

        .close-button {
          display: block;
          position: absolute;
          top: 8px;
          right: 10px;
          font-size: 30px;
          color: $mediumText;
        }

        .auths {
          position: unset;
          padding-bottom: 60px;

          .button {
            color: $white;
          }
          .auth {
            margin-bottom: 16px;
          }
        }

        ul {
          a {
            display: block;
            color: $primaryColor;
            border-top: 1px solid $border100;
            padding: 12px 20px;

            &:hover {
              text-decoration: underline;
            }

            li {
              list-style: none;
              margin-left: 5px;
            }
          }
        }
      }

      .mobile-right {
        left: 0;
      }
    }

    .content {
      height: 500px;
      padding: 0 20px;

      .tag-line-1 {
        font-size: 3em;
      }
      .tag-line-2 {
        font-size: 24px;
      }

      .home-search {
        display: flex;
        flex-direction: column;
        width: 280px;
        // max-width: 900px;

        .input-group {
          border: 1px solid $border200;
          border-radius: 5px;
          padding: 7px 12px;
          width: calc(100% - 24px);
          margin-bottom: 16px;

          &:focus,
          &:active,
          &:hover {
            border: 2px solid $primaryColor;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .home-landing {
    .nav-bar {
      padding: 0.5em 1em;

      .logo {
        font-size: 30px;
      }

      .open-button {
        font-size: 30px;
        top: 10px;
        right: 16px;
      }
    }

    .content {
      // height: 650px;

      .tag-line-1 {
        font-size: 2.5em;
        line-height: 1.1;
      }

      .tag-line-2 {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 10px;
      }
    }
  }
}
